<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
  <title>Fresh Tomatoes</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="css/style.css" />
</head>

<body>
  <nav class="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        {{!-- <img src="" alt="Logo" width="30" height="24" class="d-inline-block align-text-top"> --}}
        FreshTomatoes
      </a>
      <a href="/login">
        <button type="button" class="btn btn-link">Log in/Sign up</button>
      </a>
      {{#if session.logged_in}}
      <a href="/login">
        <button type="button" class="btn btn-link">Log out</button>
      </a>
      {{/if}}
    </div>
  </nav>
  {{{body}}}
  <p class="footer text-center">Terms of Services: Please refrain from any profanity and most of all...</p>
  <p class="footer text-center">NO SPOILERS! You will be removed from the site.</p>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>

  {{!-- <script src="/js/logout.js"></script> --}}
</body>

</html>