<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../public/css/style.css">
</head>


<body>
  <header class="">
    <nav class="d-flex flex-row justify-content-between">
      <h1>Fresh Tomatoes</h1>
      <button class="btn-primary">Logout</button>
    </nav>

    <img src="" alt="">

    <h1>{{username}}</h1>
  </header>

  <main>
    <section>
      <div class="col-4">
        <section>
          <h2>Search for a Movie</h2>
          <form id="artist-search">
            <input type="text" id="artist-input" placeholder="Search artist here..">
            <button type="submit" class="btn">Search</button>
          </form>
          
  
        </section>
        <button class="btn-">
          <a href="./savedCards.html">
          See Lists
        </a>
        </button>
      </div>

    </section>
    
    
  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <!-- <script src="../public/js/movieAPI.js"></script> -->
</body>
</html>
