/* nav bar styles */
.navbar {
  background-color: #f3f4eb;
}

.navbar-brand {
  font-family: "Lato", sans-serif;
  font-size: 2em;
  font-weight: 700;
  color: #EB3227;
}

/* footer styles */
.footer {
  font-family: "Lato", sans-serif;
  font-size: 2em;
  font-weight: 400;
  color: #A7B41E;
  background-color: #f3f4eb;
}
.collapse.show {
    visibility: visible;
  }

  .card {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .header {
    margin-bottom: 15px;
}

.title {
  font-size: larger;
  font-weight: bolder;
}

.lists {
    margin-left: 40px;
    margin-right: 80px;
    border: 1px solid black ;
}

.listBtn {
    width: 300px;
    margin: 2px;
}

body {
  font-family: "Lato", sans-serif;
}

/* Styles for user.handlebars */
.welcome {
  font-family: "Lato", sans-serif;
  font-size: 5em;
  font-weight: 900;
  color: #EB3227;
}

.review-title {
  font-family: "Lato", sans-serif;
  font-size: 4em;
  font-weight: 800;
  color: #EB3227;
}

.review-comment-card {
  background-color: #f3f4eb;
}

.movie-title h5 {
  font-family: "Lato", sans-serif;
  font-size: 1em;
  font-weight: 600;
  color: #0F7EE7;
}

.comments {
  font-family: "Lato", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  color: #0F7EE7;

}

.list-comment {
  font-family: "Lato", sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: #A7B41E;
}

/* styles for movie.handler */
.movie-container {
  font-family: "Lato", sans-serif;
}

.movie-title {
  font-family: "Lato", sans-serif;
  font-size: 4em;
  font-weight: 800;
  color: #EB3227;
}